In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../data/municipios.xlsx')

In [3]:
df.head(50)

    Unnamed: 0             AGUASCALIENTES
0          1.0             AGUASCALIENTES
1          2.0                   ASIENTOS
2          3.0                   CALVILLO
3          4.0                      COSÍO
4          5.0                JESÚS MARÍA
5          6.0        PABELLÓN DE ARTEAGA
6          7.0            RINCÓN DE ROMOS
7          8.0         SAN JOSÉ DE GRACIA
8          9.0                   TEPEZALÁ
9         10.0                   EL LLANO
10        11.0  SAN FRANCISCO DE LOS ROMO
11         NaN            BAJA CALIFORNIA
12         1.0                   ENSENADA
13         2.0                   MEXICALI
14         3.0                     TECATE
15         4.0                    TIJUANA
16         5.0         PLAYAS DE ROSARITO
17         NaN        BAJA CALIFORNIA SUR
18         1.0                    COMONDÚ
19         2.0                     MULEGÉ
20         3.0                     LA PAZ
21         4.0                  LOS CABOS
22         5.0                     LORETO
23         NaN                   CAMPECHE
24         1.0                    CALKINÍ
25         2.0                   CAMPECHE
26         3.0                     CARMEN
27         4.0                  CHAMPOTÓN
28         5.0                HECELCHAKÁN
29         6.0                  HOPELCHÉN
30         7.0                   PALIZADA
31         8.0                     TENABO
32         9.0                  ESCÁRCEGA
33        10.0                   CALAKMUL
34        11.0                 CANDELARIA
35         NaN                    CHIAPAS
36         1.0                 ACACOYAGUA
37         2.0                      ACALA
38         3.0                 ACAPETAHUA
39         4.0                 ALTAMIRANO
40         5.0                     AMATÁN
41         6.0  AMATENANGO DE LA FRONTERA
42         7.0       AMATENANGO DEL VALLE
43         8.0         ANGEL ALBINO CORZO
44         9.0                    ARRIAGA
45        10.0          BEJUCAL DE OCAMPO
46        11.0                BELLA VISTA
47        12.0                BERRIOZÁBAL
48        13.0                     BOCHIL
49        14.0                  EL BOSQUE

In [4]:
# Create new columns for 'ESTADO' and 'MUNICIPIO'
df['ESTADO'] = np.nan
df['MUNICIPIO'] = np.nan

# Create a mask where 'Unnamed: 0' is NaN
mask = df['Unnamed: 0'].isna()

# Set 'ESTADO' to 'AGUASCALIENTES' where 'mask' is True
df.loc[mask, 'ESTADO'] = df.loc[mask, 'AGUASCALIENTES']

mask = df['Unnamed: 0'].notna()

# Set 'MUNICIPIO' to 'AGUASCALIENTES' where 'mask' is True
df.loc[mask, 'MUNICIPIO'] = df.loc[mask, 'AGUASCALIENTES']

In [5]:
df = df.drop(columns='Unnamed: 0')

In [6]:
df

             AGUASCALIENTES ESTADO              MUNICIPIO
0            AGUASCALIENTES    NaN         AGUASCALIENTES
1                  ASIENTOS    NaN               ASIENTOS
2                  CALVILLO    NaN               CALVILLO
3                     COSÍO    NaN                  COSÍO
4               JESÚS MARÍA    NaN            JESÚS MARÍA
...                     ...    ...                    ...
2484          VILLA HIDALGO    NaN          VILLA HIDALGO
2485             VILLANUEVA    NaN             VILLANUEVA
2486              ZACATECAS    NaN              ZACATECAS
2487               TRANCOSO    NaN               TRANCOSO
2488  SANTA MARÍA DE LA PAZ    NaN  SANTA MARÍA DE LA PAZ

[2489 rows x 3 columns]

In [7]:
df['ESTADO'].nunique()

31

In [8]:
df['MUNICIPIO'].nunique()

2318